<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.media.pictureviewer">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.PvHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>

</manifest>

